<h4 class="titulo"><i class="fas fa-user-tag"></i> Inadimplentes
    <div class="float-right">
        <button mat-raised-button color="primary" class="float-right" (click)="adicionar()">Adicionar</button>
        <button mat-raised-button color="warn" class="float-right maRight" (click)="deletar()">Deletar</button>
    </div>
</h4>
<div class="row">
    <mat-form-field class="col-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="col-12 mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="Seleciona">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Bloco Column -->
        <ng-container matColumnDef="Bloco">
            <th mat-header-cell *matHeaderCellDef> Bloco </th>
            <td mat-cell *matCellDef="let element"> {{infoBloco(element.Bloco)}} </td>
        </ng-container>

        <!-- Apto Column -->
        <ng-container matColumnDef="Apto">
            <th mat-header-cell *matHeaderCellDef> Apto </th>
            <td mat-cell *matCellDef="let element"> {{infoApto(element.Bloco, element.Apto)}} </td>
        </ng-container>

        <!-- Morador Column -->
        <ng-container matColumnDef="Morador">
            <th mat-header-cell *matHeaderCellDef> Morador </th>
            <td mat-cell *matCellDef="let element"> {{infoMorador(element.Bloco, element.Apto, element.Morador)}} </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef> Total - R$</th>
            <td mat-cell *matCellDef="let element"> {{element.Total | number: '1.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<notifier-container></notifier-container>